* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

#wrapper {
    max-width: 960px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#wrapper button {
    border: 0;
    background-color: white;
    padding: 8px;
    font-size: 16px;
}

#grid {
    background-color: white;
    width: 512px;
    height: 512px;
    display: grid;
}
